@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: Arial;
    height: auto !important;
    min-height: 100vh;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    height: auto;
    width: 90%; /* Always scales with the viewport */
    max-width: 960px;
    margin: 20px auto; /* Center SVG and add space above */
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #000000;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #000000;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #000000;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #000000;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #000000;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    svg {
        width: 80%;
        max-width: 800px;
    }
}

@media (max-width: 480px) {
    svg {
        width: 70%;
        max-width: 600px;
    }
}
