<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website with Loading Screen</title>
  <link rel="stylesheet" href="css/loading.css">
</head>
<body>
  <!-- Loading Screen -->
  <div id="loading-screen" style="display: none;">
    <div class="waviy">
      <span style="--i:1">L</span>
      <span style="--i:2">o</span>
      <span style="--i:3">a</span>
      <span style="--i:4">d</span>
      <span style="--i:5">i</span>
      <span style="--i:6">n</span>
      <span style="--i:7">g</span>
      <span style="--i:8">.</span>
    </div>
  </div>

  <!-- Page Content -->
  <div id="main-content">
    <!-- Dynamic content here -->
  </div>

  <script src="js/loading.js"></script>
</body>
</html>
